<match-user-navigation>
    <div class="row text-center mt-md">
        <h4>{{("GAME_" + this.id.toUpperCase())|lang}}</h4>
    </div>
    <ng-container *ngIf="this.game">
        <div class="row">
            <div class="col-lg-6 col-sm-12 mt">
                <ngs-card [title]="this.game.settings.includes(Setting.TEAM_MODE) ? 'TEAMS' : 'PLAYERS'">
                    <ngs-form [ngSForm]="this.playersForm"></ngs-form>
                </ngs-card>
            </div>
            <div class="col-lg-6 col-sm-12 mt" *ngIf="this.game.timers">
                <ngs-card [title]="'TIMERS'|lang">
                    <ngs-form [ngSForm]="this.timersForm"></ngs-form>
                </ngs-card>
            </div>
        </div>
        <div class="row">
            <div class="d-grid gap-2">
                <button class="btn btn-primary shadow-none mt-4" (click)="this.start()">
                    {{"START_GAME"|lang}}
                </button>
            </div>
        </div>
    </ng-container>
</match-user-navigation>