<div class="container">
    <div class="row justify-content-center mt-xl">
        <div class="col-lg-4">
            <a href="">
                <h1 class="text-center">
                    <span class="text-primary">match</span><span class="text-secondary">heroes</span>
                </h1>
            </a>
        </div>
    </div>
    <div class="row text-center mt-md">
        <h4>{{("GAME_" + this.id.toUpperCase())|lang}}</h4>
    </div>
    <div class="row" *ngIf="this.game">
        <div class="col-lg-6 col-sm-12 mt">
            <ngs-card [title]="this.game.settings.includes(Setting.TEAM_MODE) ? 'TEAMS' : 'PLAYERS'">
                <ngs-form [ngSForm]="this.playersForm"></ngs-form>
            </ngs-card>
        </div>
        <div class="col-lg-6 col-sm-12 mt" *ngIf="this.game.timers">
            <ngs-card [title]="'TIMERS'|lang">
                <ngs-form [ngSForm]="this.timersForm"></ngs-form>
            </ngs-card>
        </div>
    </div>
</div>

<ngs-modal [modal]="this.editTimerModal">
    <span>Test</span>
</ngs-modal>