<div class="container">
    <div class="row justify-content-center mt-xl">
        <div class="col-lg-4">
            <h1 class="text-center">
                <span class="text-primary">match</span><span class="text-secondary">heroes</span>
            </h1>
        </div>
    </div>
    <div class="row justify-content-center mt-md">
        <div class="col-6 mt">
            <ngs-card class="hover">
                <div class="mt text-center hover-zoom" (click)="this.pageService.navigate('game/choose')">
                    <img src="assets/icons/basketball_b.png" class="img-fluid">
                    <p class="mt">{{"FAST_GAME"|lang}}</p>
                </div>
            </ngs-card>
        </div>
        <div class="col-6 mt">
            <ngs-card class="hover">
                <div class="mt text-center hover-zoom" (click)="this.pageService.navigate('fast-game')">
                    <img src="assets/icons/trophy_o.png" class="img-fluid">
                    <p class="mt">{{"TOURNAMENT"|lang}}</p>
                </div>
            </ngs-card>
        </div>
    </div>
</div>