@font-face {
    font-family: Oswald;
    src: url('assets/Oswald.ttf');
}

$body-bg: #E0E3EA;
$body-color: #333;
$secondary: #0D78F1;
$primary: #F7623A;

$list-group-bg: $body-bg;

$font-size-base: 1.4rem;
$font-family-sans-serif: 'Oswald', serif;

@import "~projects/ng-sebru-lib/style.scss";

.border {
    border: 1px solid $gray-600  !important;
}

.btn {
    color: $body-bg  !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: $primary  !important;
}

.text-body-bg {
    color: $body-bg  !important;
}

.text-body-bg:hover {
    color: $body-bg  !important;
}

.rounded {
    border-radius: 2rem !important;
}

.nav-link:hover {
    backdrop-filter: brightness(0.7);
    -webkit-backdrop-filter: brightness(0.7);
}

.dropdown-item:hover {
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
}

.nav-link,
.dropdown-item {
    transition: all 0.2s ease-in;
}

.fa,
.icon {
    color: $body-color;
}

.btn-secondary {
    transition: all 0.1s ease-in;
    padding: 0.5rem 1rem;
    border: 2px solid $body-color;
    width: auto;
    border-radius: 2rem;
    color: $body-color  !important;
    background-color: transparent;
    outline: none;
    box-shadow: none !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.active {
    color: $body-bg  !important;
    box-shadow: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}