<ngs-default-nav [ngSNavigation]="this.navigation"></ngs-default-nav>

<div class="container">
    <div class="col-lg-12">
        <div class="row mt-md">
            <h1>{{"WELCOME"|lang}}, Admin.</h1>
        </div>
        <div class="row mt justify-content-center">
            <button class="btn btn-secondary mx-1 {{this.overviewData.days == 7 ? 'active' : ''}}"
                (click)="this.setDays(7)">7 {{"DAYS"|lang}}</button>
            <button class="btn btn-secondary mx-1 {{this.overviewData.days == 30 ? 'active' : ''}}"
                (click)="this.setDays(30)">30 {{"DAYS"|lang}}</button>
            <button class="btn btn-secondary mx-1 {{this.overviewData.days == -1 ? 'active' : ''}}"
                (click)="this.setDays(-1)">{{"TOTAL"|lang}}</button>
        </div>
        <div class="row">
            <div class="col-lg-3 mt">
                <ngs-card [title]="('ACTIONS'|lang) + ' - ' + ('TODAY'|lang)">
                    <h2 class="text-center">{{this.overviewStats.actionsToday}}</h2>
                </ngs-card>
            </div>
            <div class="col-lg-3 mt">
                <ngs-card
                    [title]="('ACTIONS'|lang) + ' - ' + (this.overviewData.days == -1 ? ('TOTAL'|lang) : this.overviewData.days + ' ' + ('DAYS'|lang))">
                    <h2 class="text-center">{{this.overviewStats.actionsTotal}}</h2>
                </ngs-card>
            </div>
            <div class="col-lg-3 mt">
                <ngs-card [title]="('CLICKS'|lang) + ' - ' + ('TODAY'|lang)">
                    <h2 class="text-center">{{this.overviewStats.clicksToday}}</h2>
                </ngs-card>
            </div>
            <div class="col-lg-3 mt">
                <ngs-card [title]="('INDIVIUDAL_CLICKS'|lang) + ' - ' + ('TODAY'|lang)">
                    <h2 class="text-center">{{this.overviewStats.individualClicksToday}}</h2>
                </ngs-card>
            </div>
        </div>
        <div class="row mt-md">
            <ngs-line-chart [ngSChart]="this.chart"></ngs-line-chart>
        </div>
        <div class="row mt justify-content-center">
            <button class="btn btn-secondary mx-1" *ngIf="this.overviewData.message" (click)="this.setMessage('')">
                <i class="fa fa-trash"></i>
                {{this.overviewData.message}}
            </button>
            <button class="btn btn-secondary mx-1" *ngIf="this.overviewData.userId" (click)="this.setUserId('')">
                <i class="fa fa-trash"></i>
                {{this.overviewData.userId}}
            </button>
        </div>
        <div class="row mt">
            <ngs-collapsables [ngSCollapsables]="this.ngSCollapsables">
                <div class="list-group">
                    <div class="list-group-item" *ngFor="let log of this.overviewData.logs">
                        <div class="d-flex justify-content-between">
                            <h5 class="fw-bold hover text-underline-hover" (click)="this.setMessage(log.message)">
                                {{log.message}}</h5>
                            <small>{{log.timeStamp|millisToFormattedTime}}</small>
                        </div>
                        <small *ngIf="log.description">{{log.description}}<br></small>
                        <small class="text-danger" *ngIf="log.exception">{{log.exception}}<br></small>
                        <a *ngIf="log.userId" (click)="this.setUserId(log.userId)" class="hover">{{log.userId}}</a>
                    </div>
                </div>
                <p class="text-center" *ngIf="this.overviewData.logs.length == 0">{{"LOGS_EMPTY"|lang}}</p>
            </ngs-collapsables>
        </div>
    </div>
</div>