$iconColor: black;

@import "projects/ng-sebru-lib/node_modules/font-awesome/scss/font-awesome.scss";
@import "projects/ng-sebru-lib/node_modules/bootstrap/scss/bootstrap.scss";

* {
    word-wrap: break-word;
}

.mt {
    margin-top: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

.mt-md {
    margin-top: 2rem;
}

.mt-xl {
    margin-top: 6rem;
}

a {
    text-decoration: none;
}

a.hover:hover {
    text-decoration: underline;
}

.hover {
    cursor: pointer;
}

.fa,
.icon {
    color: $iconColor;
}